# Server
PORT=5000
NODE_ENV=development

# JWT
JWT_SECRET=878f0d779b0871ca47e1b56ab59893cb63c4496ca9551ba1f6af07c05204fbab
JWT_EXPIRES_IN=7d

# PostgreSQL / Neon
DATABASE_URL=postgresql://user:password@host/database?sslmode=verify-full
